/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

article {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#slack-info,
#goals,
#links {
  margin-bottom: 30px;
}

#slack-info h2,
#goals h2,
#links h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info_area {
  display: flex;
  align-items: center;
}

.text_area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img-cont {
  margin-right: 20px;
}

.img-cont img {
  border-radius: 50%;
}

#goals .title {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}
#goals h2 {
  text-align: center;
}
#goals {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#goals .content {
  line-height: 1.8;
}

.wrapper {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-top: 15px;
}

#links .btns {
  list-style-type: none;
}

#links .btns li {
  margin-bottom: 10px;
}

#links .btns li a {
  display: block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

#links .btns li a:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  header h1 {
    font-size: 2rem;
  }

  #slack-info .info_area {
    flex-direction: column;
    align-items: center;
  }

  .img-cont {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #goals .title {
    font-size: 1.8rem;
  }

  #links .btns li a {
    padding: 8px 12px;
  }
}
